.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 20px;
  grid-gap: 20px;
}
.cars-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}