.car{
  width: 200px;
  height: 250px;
  border: 2px solid aqua;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.car img{
  width: 100%;
  border-radius: 10px;
}
.car .car-info{
  position: absolute;
  bottom: 40px;
}
.car .cart-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: aqua;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  border-radius: 0 0 10px 10px;
}
.car .cart-btn:hover{
  background-color: #00e6e6;
  transition: .5s;
}